# Node.js
node_modules/

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Environment
.env

# VS Code
.vscode/

# Logs
*.log

# Mac
.DS_Store

# Windows
Thumbs.db